{% extends 'bookings/base.html' %}

{% block title %}Your Bookings{% endblock %}

{% block content %}
<a href="{% url 'movie_list' %}" class="btn btn-secondary"> Book More! </a>


<h2>Upcoming Bookings</h2>
    <ul class="list-group">
        {% for booking in bookings %}
            <li class="list-group-item">
                <h5>Your Booking For:{{booking.movie}} </h5>
                <p>
                    {{booking.seat}} on {{booking.booking_date}}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
