{% extends 'bookings/base.html' %}

{% block title %} Book a Seat {% endblock %}

{% block content %}

<!--Make A Button to Book for More Movies-->
<a href="{% url 'movie_list' %}" class="btn btn-secondary"> Book More! </a>


<h2 class="text-center"> Book a seat for {{movie.title}} ! </h2>


<h4 class="text-center">Available Seats</h4>
<!-- Create A container grid to make buttons on page-->
<div class=" text-center container">
    <!-- Start a row  -->
    <div class="row">
        {% for seat in seats %}
            <!-- Start a col that takes up 3 spaces on the container and mb gives space below  -->
            <!-- Also if seat is booked make button red if open green  -->
            <div class="col-3 mb-5">
                <!---Used to check for POST which is a command triggered by click needed AI help to understand syntax and csrf_token-->
                <form method="POST">
                    {% csrf_token %}
                    <!--Get the input from seat_id in a way user can not see-->
                    <input type="hidden" name="seat_id" value="{{ seat.id }}">
                    
                    <!---IF seat id in the booking list we get make it red since they booked it-->
                    {% if seat.id in bookings_list %}
                        <button class="btn btn-danger"> Seat {{ seat.seat_number }} </button>
                    <!---Else make it Green since it is open-->
                    {% else %}
                        <button class="btn btn-success"> Seat {{ seat.seat_number }} </button>
                    {% endif %}

                </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}